django == 1.9.3
django-debug-toolbar == 1.4
coverage == 4.0.3
psycopg2 == 2.6.1
django_extensions == 1.6.1
pillow == 3.1.1
django-bootstrap-pagination == 1.6.1
djorm-ext-pgfulltext == 0.10
beautifulsoup4 == 4.4.1
cython == 0.23.4
lxml == 3.5.0
awesome-slugify == 1.6.5
django-redis == 4.3.0
redis == 2.10.5
gevent == 1.0.2
pip == 8.0.3
gunicorn == 19.4.5