{% extends 'base.html' %}

{% block content %}
<h1>Political Dictionary</h1>

    {% if a %}
  <h2>A</h2>
    <div class="tags-cloud">
    {% for definition in a %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if b %}
  <h2>B</h2>
    <div class="tags-cloud">
    {% for definition in b %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if c %}
      <h2>C</h2>
    <div class="tags-cloud">
    {% for definition in c %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if d %}
      <h2>D</h2>
    <div class="tags-cloud">
    {% for definition in d %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if e %}
      <h2>E</h2>
    <div class="tags-cloud">
    {% for definition in e %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if f %}
      <h2>F</h2>
    <div class="tags-cloud">
    {% for definition in f %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if g %}
      <h2>G</h2>
    <div class="tags-cloud">
    {% for definition in g %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if h %}
      <h2>H</h2>
    <div class="tags-cloud">
    {% for definition in h %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if i %}
      <h2>I</h2>
    <div class="tags-cloud">
    {% for definition in i %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if j %}
      <h2>J</h2>
    <div class="tags-cloud">
    {% for definition in j %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if k %}
      <h2>K</h2>
    <div class="tags-cloud">
    {% for definition in k %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if ell %}
      <h2>L</h2>
    <div class="tags-cloud">
    {% for definition in ell %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if m %}
      <h2>M</h2>
    <div class="tags-cloud">
    {% for definition in m %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if n %}
      <h2>N</h2>
    <div class="tags-cloud">
    {% for definition in n %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if oh %}
      <h2>O</h2>
    <div class="tags-cloud">
    {% for definition in oh %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if p %}
      <h2>P</h2>
    <div class="tags-cloud">
    {% for definition in p %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if q %}
      <h2>Q</h2>
    <div class="tags-cloud">
    {% for definition in q %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if r %}
      <h2>R</h2>
    <div class="tags-cloud">
    {% for definition in r %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if s %}
      <h2>S</h2>
    <div class="tags-cloud">
    {% for definition in s %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if t %}
      <h2>T</h2>
    <div class="tags-cloud">
    {% for definition in t %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if u %}
      <h2>U</h2>
    <div class="tags-cloud">
    {% for definition in u %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if v %}
      <h2>V</h2>
    <div class="tags-cloud">
    {% for definition in v %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if w %}
      <h2>W</h2>
    <div class="tags-cloud">
    {% for definition in w %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if x %}
      <h2>X</h2>
    <div class="tags-cloud">
    {% for definition in x %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if y %}
      <h2>Y</h2>
    <div class="tags-cloud">
    {% for definition in y %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if z %}
      <h2>Z</h2>
    <div class="tags-cloud">
    {% for definition in z %}
    <a href="{{ definition.get_absolute_url }}" class="tag">{{ definition.title }}</a>
    {% endfor %}
    </div>
    {% endif %}
{% endblock %}