{% extends 'base.html' %}

{% block content %}
{% load bootstrap_pagination %}
{% for post in posts %}
<article class="post animated fadeInLeft animation-delay-8">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3 class="post-title"><a href="{{ post.get_absolute_url }}" class="transition">{{ post.title }}</a></h3>
        <div class="row">
          <div class="col-lg-6">
            <p>{{ post.body|safe|linebreaks|truncatewords_html:50 }}</p>
          </div>
        </div>
    </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-lg-10 col-md-9 col-sm-8">
            <i class="fa fa-clock-o"></i> {{ post.date|date }} <i class="fa fa-user"> </i> {{ post.author.username|capfirst }}
          </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
              <a href="{{ post.get_absolute_url }}" class="pull-right">Read more &raquo;</a>
            </div>
        </div>
      </div>
  </div>
</article>
{% endfor %}


                    <section>
                    {% bootstrap_paginate posts range=10 show_prev_next="false" show_first_last="true" %}
                    </section>
{% endblock %}