{% extends 'base.html' %}

{% block content %}
<section>
                        <h2 class="post-title">{{ article.title }}</h2>
    {% if article.tags %}{% for tag in article.tags.all %}<a href="{{ tag.get_absolute_url }}" class="label label-default">{{ tag.title }}</a>{% endfor %}{% endif %}
                        {% if article.image %}<img src="{{ MEDIA_URL }}{{ article.image }}" class="img-post img-responsive align-left" alt="{{ article.title }}">{% endif %}
{{ article.teaser|safe|linebreaks }}
<hr>
{{ article.body|safe|linebreaks }}
</section>
{% endblock %}